.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1px;
  position: relative;
}

.clueValue {
  font-size: 65px;
  line-height: 65px;
  font-weight: 900;
  color: var(--secondary-color);
  text-shadow: 3px 3px #000;
  letter-spacing: -2px;

  -webkit-transform: scale(1, 1.3); /* Safari and Chrome */
  -moz-transform: scale(1, 1.3); /* Firefox */
  -ms-transform: scale(1, 1.3); /* IE 9 */
  -o-transform: scale(1, 1.3); /* Opera */
  transform: scale(1, 1.3); /* W3C */
}
.clueText,
.correctResponse {
  color: #fff;
}

.clueValue,
.clueText,
.correctResponse {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-family: "ITC_Korinna", sans-serif;
}

.hidden {
  visibility: hidden;
}
.fa-solid {
  font-size: 30px;
  line-height: 30px;
  height: 100%;
}
.fa-rotate-left {
  color: #ddd;
  font-size: 25px;
  line-height: 30px;
}
.fa-xmark {
  color: var(--warn-color);
}
.fa-check {
  color: var(--success-color);
}

.state-actions {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.state-actions i {
  padding: 0 10px;
}
.state-actions i:hover {
  background-color: #333;
}
