.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.clueValue {
  font-size: 65px;
  line-height: 65px;
  font-weight: 900;
  color: var(--secondary-color);
  text-shadow: 3px 3px #000;
  letter-spacing: -2px;

  -webkit-transform: scale(1, 1.3); /* Safari and Chrome */
  -moz-transform: scale(1, 1.3); /* Firefox */
  -ms-transform: scale(1, 1.3); /* IE 9 */
  -o-transform: scale(1, 1.3); /* Opera */
  transform: scale(1, 1.3); /* W3C */
}
.clueText,
.correctResponse {
  color: #fff;
}

.clueValue,
.clueText,
.correctResponse {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-family: "ITC_Korinna", sans-serif;
}
